.temp-bar {
  width: 50%;
  height: 8px;
  background-color: #0c1526;
  border-radius: 3px;
}

.t {
  background: linear-gradient(
    90deg,
    linear-gradient(
      90deg,
      #0c1526 0%,
      #0c1526 3.3333333333333335%,
      #0c1526 6.666666666666667%,
      #0c1526 10%,
      #0c1526 13.333333333333334%,
      #0c1526 16.666666666666668%,
      #0c1526 20%,
      #0c1526 23.333333333333332%,
      #0c1526 26.666666666666668%,
      #0c1526 30%,
      #0c1526 33.333333333333336%,
      hsla(179.23076923076923, 70%, 50%, 1) 33.333333333333336%,
      hsla(175.53846153846155, 70%, 50%, 1) 36.666666666666664%,
      hsla(171.84615384615384, 70%, 50%, 1) 40%,
      hsla(168.15384615384616, 70%, 50%, 1) 43.333333333333336%,
      hsla(164.46153846153845, 70%, 50%, 1) 46.666666666666664%,
      hsla(160.76923076923077, 70%, 50%, 1) 50%,
      hsla(157.0769230769231, 70%, 50%, 1) 53.333333333333336%,
      hsla(153.3846153846154, 70%, 50%, 1) 56.666666666666664%,
      hsla(149.69230769230768, 70%, 50%, 1) 60%,
      hsla(146, 70%, 50%, 1) 63.333333333333336%,
      hsla(142.30769230769232, 70%, 50%, 1) 66.66666666666667%,
      #0c1526 70%,
      #0c1526 73.33333333333333%,
      #0c1526 76.66666666666667%,
      #0c1526 80%,
      #0c1526 83.33333333333333%,
      #0c1526 86.66666666666667%,
      #0c1526 90%,
      #0c1526 93.33333333333333%,
      #0c1526 96.66666666666667%
    )
  );
}
