.weather-details {
  width: 270px;
  padding: 1rem;
  color: white;
  text-align: center;
}

.location {
  font-size: 1.5rem;
  font-weight: 300;
}

.weather-details > *:last-child {
  margin-bottom: 0;
}

.weather-details > *:first-child {
  margin-top: 0;
}

i.big-icon {
  font-size: 5rem;
}

.sunrise-sunset {
  display: flex;
  justify-content: space-around;
}

.temperature {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.temprange {
  font-size: 0.75rem;
  margin-top: 0;
}

@media screen and (min-width: 680px) {
  .weather-details {
    width: 600px;
    padding: 1rem;
    color: white;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .weather-details {
    width: 350px;
  }
}

@media screen and (min-width: 1920px) {
  .weather-details {
    width: 600px;
    font-size: 1.5rem;
  }

  .location {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .location {
    font-size: 3rem;
  }

  i.big-icon {
    font-size: 10rem;
  }

  .temperature {
    font-size: 2.25rem;
    margin-bottom: 0.5rem;
  }

  .temprange {
    font-size: 1.5rem;
  }
}
