.controls-container {
  background-color: rgb(18, 34, 59);
  border-radius: 10px;
  padding: 1rem;
  width: 270px;
  margin-bottom: 0.5rem;
}

.form-container {
  display: flex;
  width: 100%;
}

.form-container > input {
  padding: 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
}

.form-container > input:focus {
  box-shadow: inset 0px 0px 1px 2px rgb(128, 162, 201);
}

.form-container > button {
  padding: 0.5rem;
  width: 10%;
  border: none;
  outline: none;
  background-color: rgb(169, 194, 225);
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
}

.form-container > button:hover {
  background-color: rgb(128, 162, 201);
}

@media screen and (min-width: 680px) {
  .controls-container {
    width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .controls-container {
    width: 350px;
  }
}
