.weather-day {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 350px;
}

.weather-day-data {
  font-weight: 300;
}

.weather-day-data.day {
  width: 120px;
}

.weather-day > i {
  position: relative;
  top: 4px;
  width: 20px;
  margin-right: 30px;
}

.temps {
  display: flex;
  justify-content: space-between;
  width: 130px;
}

.weather-day-data.tempmax {
}
